@model ArtsofteTestProject.ViewModels.EditEmployeePageViewModel
@{
    ViewData["Title"] = "Adding an employee";
}
<div class="text-center">
    <h1 class="display-4 main__add">@ViewData["Title"]</h1>
    <div class="container">
        <div class="row">
            <div class="col-10">
                @using (Html.BeginForm())
                {
                    <input type="hidden" name="EmployeePlace.Id" value="@Model.EmployeePlace.Id" />
                    <input type="hidden" name="Employee.Id" value="@Model.Employee.Id" />
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Employee.Name, new { @class= "col-form-label, col-sm-6" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Employee.Name, new { @class= "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Employee.Surname, new { @class= "col-form-label, col-sm-6" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Employee.Surname, new { @class= "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Employee.Age, new { @class= "col-form-label, col-sm-6" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Employee.Age, new { @class= "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.Employee.Gender, new { @class= "col-form-label, col-sm-6" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.Employee.Gender, new { @class= "form-control" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.EmployeePlace.Department, new { @class= "col-form-label, col-sm-6" })
                        <div class="col-sm-6">
                            <select name="EmployeePlace.DepartmentId" class="form-control">
                                <option value="" disabled>Choose a department</option>
                                @foreach (var department in Model.Departments)
                                {
                                    if (department.Id == Model.EmployeePlace.Department.Id)
                                    {
                                        <option value="@department.Id" selected>@department.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        @Html.LabelFor(m => m.EmployeePlace.ProgrammingLanguage, new { @class= "col-form-label, col-sm-6" })
                        <div class="col-sm-6">
                            <select name="EmployeePlace.ProgrammingLanguageId" class="form-control">
                                <option value="" disabled>Choose a programming language</option>
                                @foreach (var programmingLanguage in Model.ProgrammingLanguages)
                                {
                                    if (programmingLanguage.Id == Model.EmployeePlace.ProgrammingLanguage.Id)
                                    {
                                        <option value="@programmingLanguage.Id" selected>@programmingLanguage.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@programmingLanguage.Id">@programmingLanguage.Name</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="mb-3">
                        <input class="btn btn-success" type="submit" value="Save" />
                        <a href="/" class="btn btn-danger" role="button">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

    </script>
}